@font-face {
  font-family: "Google Sans";
  src: url("fonts/GoogleSans-Regular.ttf") format("truetype");
}
.swal2-popup {
  font-family: "Google Sans", sans-serif;
}
html,
body,
#app {
  height: 100%;
  width: 100%;
  font-family: "Google Sans";
  font-weight: 500;
}
body {
  width: 100%;
  height: 100%;
  background-color: #fafafa !important;
}
:root {
  --primary-color: #72e3ad;
  --primary-color-hover: #64d8a3;
  --secondary-color: #f3f3f3;
  --secondary-color-border: #00000014;
  --secondary-color-border-hover: #c9c9c9;
  --btn-logout-bg: #fff0ee;
  --btn-logout-bg-hover: #fdd8d3;
  --btn-logout-border: #f3b0a2;
  --btn-logout-border-hover: #e54d2e;
  --main-text-color: #489a78;
  --border-input-color: #16b674bf;
}
.material-symbols-outlined {
  font-size: 17px;
}
.btn.btn-login {
  border: 1px solid var(--border-input-color);
  font-weight: 500;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  padding: 10px 12px;
  background-color: var(--primary-color);
  color: #171717 !important;
  outline: none;
  transition: all 0.2s;
  &:hover,
  &:focus,
  &:active {
    border: 1px solid #097c4f !important;
    background-color: var(--primary-color-hover) !important;
  }
}
.btn.btn-primary {
  border: 1px solid var(--border-input-color);
  /* border: none; */
  font-size: 14px;
  border-radius: 6px;
  padding: 8px 10px;
  background-color: var(--primary-color);
  color: #171717 !important;
  outline: none;
  transition: all 0.2s;
  &:hover,
  &:active {
    border: 1px solid #097c4f !important;
    /* border: none; */
    background-color: var(--primary-color-hover) !important;
  }
}
.btn.btn-secondary {
  border: 1px solid #e6e6e6;
  /* border: none; */
  font-size: 14px;
  border-radius: 6px;
  padding: 8px 10px;
  background-color: #fff;
  color: #171717 !important;
  outline: none;
  transition: all 0.2s;
  &:hover,
  &:active {
    border: 1px solid #dcdcdc !important;
    /* border: none; */
    background-color: var(--secondary-color) !important;
  }
}
.btn.btn-logout {
  text-decoration: none;
  padding: 8px;
  /* background-color: var(--btn-logout-bg); */
  color: #ef4444;
  border: none;
  /* border: 2px solid var(--btn-logout-border); */
  /* background-color: var(--btn-logout-bg-hover);
  border: 2px solid var(--btn-logout-border-hover);
  color: #171717; */
  border-radius: 6px;
  transition: all 0.2s;
  &:hover,
  &:focus,
  &:active {
    background-color: #fef2f2;
    color: #ef4444;
    /* border: 2px solid var(--btn-logout-border-hover); */
    /* color: #171717; */
  }
}
.has-search .form-control {
  padding-left: 2.375rem;
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
