:root {
  --background-color: #fff;
  --primary-color: #16a34a;
  --primary-color-hover: #2dac5c;
  --secondary-color: #f4f4f5;
  --secondary-color-hover: #ededed;
  --secondary-color-border: #00000014;
  --secondary-color-border-hover: #c9c9c9;
  --btn-logout-bg: #fef2f2;
  --btn-logout-color: #ef4444;
  --btn-primary-color: #fff;
  --main-text-color: #16a34a;
  --border-input-color: #16a34a;
  --border-main-color: #e4e4e7;
  --text-light-color: #fff;
  --text-select: #000;
  --input-bg: #fff;

  /* tabs */
  --tab-button-bg: #6c757d;
  --tab-button-text: #52525b;

  --nav-link-color: #000;
  --label-color: #000;
  --nav-link-hover: #f4f4f5;

  /* shadow */
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
}

.dark-theme {
  --background-color: #202124;
  --primary-color: #22c55e;
  --primary-color-hover: #20b256;
  --secondary-color: #2d2f31;
  --secondary-color-hover: #303134;
  --border-main-color: #2d2f31;
  --main-text-color: #ffffff;
  --border-input-color: #22c55e;
  --nav-link-color: #fff;
  --label-color: #fff;
  --nav-link-hover: #303134;
  --tab-button-bg: #09090b;
  --tab-button-text: #d9d9d9;
  --text-light-color: #000;
  --text-select: #fff;
  --input-bg: #3c4043;
}

@font-face {
  font-family: "Google Sans";
  src: url("fonts/GoogleSans-Regular.ttf") format("truetype");
}

* {
  transition: background-color 0.2s ease, color 0.2s ease, border 0.2s ease;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
  font-family: "Google Sans";
  font-weight: 500;
  background-color: var(--background-color) !important;
}

::selection {
  background: var(--primary-color);
  color: var(--text-select);
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--background-color) !important;
}

.material-symbols-outlined {
  font-size: 17px;
}

.btn,
.box-shadow {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}

.btn.btn-secondary,
.box-shadow-sm,
input,
select,
textarea {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}

.btn.btn-danger {
  border-radius: calc(0.75rem - 2px);
}

.btn.btn-login {
  border: none;
  font-weight: 500;
  font-size: 15px;
  border-radius: calc(0.75rem - 2px);
  padding: 8px 12px;
  background-color: var(--primary-color);
  color: var(--btn-primary-color) !important;
  outline: none;
  &:hover,
  &:active {
    border: none;
    background-color: var(--primary-color-hover) !important;
  }
}

.btn.btn-primary {
  border: none;
  font-size: 14px;
  border-radius: calc(0.75rem - 2px);
  padding: 8px 10px;
  background-color: var(--primary-color);
  color: var(--btn-primary-color) !important;
  outline: none;
  &:hover,
  &:active {
    border: none;
    background-color: var(--primary-color-hover) !important;
  }
}

.btn.btn-secondary {
  border: 1.5px solid var(--border-main-color);
  font-size: 14px;
  border-radius: calc(0.75rem - 2px);
  padding: 8px 10px;
  background-color: var(--background-color);
  color: var(--nav-link-color) !important;
  outline: none;
  &:hover,
  &:active {
    border: 1.5px solid var(--border-main-color) !important;
    background-color: var(--secondary-color-hover) !important;
  }
}

.btn.btn-logout {
  text-decoration: none;
  padding: 8px;
  font-size: 14px;
  color: var(--btn-logout-color);
  border: none;
  box-shadow: none;
  border-radius: calc(0.75rem - 2px);
  &:hover,
  &:active {
    background-color: #fef2f2 !important;
    color: var(--btn-logout-color) !important;
  }
}

.has-search .form-control {
  padding-left: 2.375rem !important;
  color: var(--nav-link-color) !important;
}

::placeholder {
  color: var(--nav-link-color) !important;
  transition: all 0.2s !important;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: var(--nav-link-color) !important;
}

input,
textarea,
select {
  padding: 0.5rem !important;
  font-size: 14px !important;
  border-radius: 13px !important;
  border: 1.5px solid var(--border-main-color) !important;
  background-color: var(--input-bg) !important;
  color: var(--nav-link-color) !important;
  transition: all 0.2s !important;
  &:focus,
  &:active {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04) !important;
    border: 1.5px solid var(--border-input-color) !important;
  }
}

.btn-close {
  box-shadow: none !important;
  border-radius: 50px !important;
  transition: all 0.1s;
  border: 2px solid #fff !important;
  /* &:hover, */
  &:focus,
  &:active {
    border: 2px solid var(--primary-color) !important;
  }
}

.modal .modal-content {
  border-radius: 16px;
  padding: 5px 10px;
}

.fs {
  font-size: 14px !important;
}

/* SWAL CUSTOM CSS */
.swal2-popup {
  font-family: "Google Sans", sans-serif;
  border-radius: 10px !important;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 15px 0 rgba(0, 0, 0, 0.05);
  overflow: hidden;
  cursor: pointer;
}

.swal2-confirm,
.swal2-cancel {
  border-radius: calc(0.75rem - 2px) !important;
  font-size: 15px !important;
  padding: 12px 18px !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}

.colored-toast.swal2-icon-success {
  background-color: #07bc0c !important;
  .colored-timer-progress-bar {
    background-color: #b4ebb6 !important;
  }
}

.colored-toast.swal2-icon-error {
  background-color: #e74c3c !important;
  .colored-timer-progress-bar {
    background-color: #f8c9c4 !important;
  }
}

.colored-toast.swal2-icon-warning {
  background-color: #f1c40f !important;
  .colored-timer-progress-bar {
    background-color: #fbedb7 !important;
  }
}

.colored-toast.swal2-icon-info {
  background-color: #3498db !important;
  .colored-timer-progress-bar {
    background-color: #c2e0f4 !important;
  }
}

.colored-toast .swal2-title,
.colored-toast .swal2-close,
.colored-toast .swal2-html-container {
  color: white;
}

@media (max-width: 1400px) {
  .table th,
  .table td {
    white-space: nowrap;
  }
  .btn {
    white-space: nowrap;
  }
}
thead,
tbody,
tr,
th,
td {
  background-color: var(--background-color) !important;
  color: var(--nav-link-color) !important;
}

td {
  vertical-align: middle;
  font-size: 14px;
  transition: all 0.2s;
  &:hover {
    background-color: #f9f9fa;
  }
}

small {
  color: var(--nav-link-color) !important;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 99;
}

.navbar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

.swal2-loader {
  border: 0.25em solid rgba(0, 0, 0, 0.1);
  border-left-color: #c2e0f4;
  animation: swal2-rotate 1.2s linear infinite;
}

@keyframes swal2-rotate {
  100% {
    transform: rotate(360deg);
  }
}
